
html,body{
    margin: 0px; padding : 0px;
    width: 100%; height: 100%;
    font-family: 'Roboto', sans-serif;
}
html{

    overflow-x: hidden;
}
header {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    background:#ffffffce;
    color: rgb(0, 0, 0);
    height: 200px; 
    width: 100vw;
    position: fixed;
    top:0px;
    transition: 0.4s;
}
main>*{
    background:#F4F7F6;
}
.header_small{
    height: 82px; 
    transition: 0.4s;
}
#linelink{
    display: flex;
}
#linelink div{
    padding:20px;
    padding-top: 16px;
    height:40px;
    transition: 0.4s;
}
#linelink div:hover{
    color:#3989A2;
    cursor: pointer;
    transition: 0.4s;
}
#line{
    display: flex;
    margin-top: 14px;
    justify-content: space-between;
}
#burger{
    background:url("../img/burger.svg");
    color:white;
    margin:10px 10px;
    width: 40px;height: 40px;
}
#logo{
    display:flex;
    margin-left: -50px;
    min-width: 245px;
}
#logo-circle{
    background : url("../img/logo.png");
    background-size: cover;  
    position: absolute;
    left:120px;
    /* margin : 0px -80px; */
    transition: 0.4s;
    width: 180px;height: 180px;
    z-index: -1;
}
.circle_small{
    top:5px;
    left:50px!important;
    width: 70px!important;height: 70px!important;
    transition: 0.4s;
}
#name{
    font-size: 80px; 
    font-style: italic;
    font-weight: bolder;
    position: absolute;
    /* margin : 2px;
    margin-left: 90px;
    margin-top:60px; */
    top:70px;left:40px;
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 2px 5px #3989A2,
                 0 2px #3989A2;
    font-family: sans; color: black;
    transition: 0.4s;
}
.name_small{
    position: absolute;
    top : 25px!important;
    left:100px!important;
    font-size: 40px!important; 
    transition: 0.4s;
}
#entete{
    position:  absolute;
    top : 140px;
    left:270px;
    font-size: 50px;font-family: 'Alex Brush';
    transition:0.4s;
    margin:0 10vw;
}
.entete_small{
    color:#3989A2;
    top : 25px!important;
    left:200px!important;
    font-size: 30px!important;
    transition:0.4s
}
#firstelement{
    margin-top: 50vh;
}
#back1{
    background : url("../img/spa-gonflable.jpg");
    background-size: cover;
    padding-top: 200px;
    height: 50vh;
    width: 100vw;
    position: fixed;
    top:0px;
    z-index: -1;
}
#accueil{
    /* background : url("../img/spa-gonflable.jpg");
    background-size: cover; */
    background-color: #FFFFFF00;
    color:white;
    padding-top: 150px;
    height: 0vh;
    width: 100vw;
    font-size: 50px;
    top:0px;
    z-index: -1;
}
h1,h2{
    margin:1vh 10vw;
    text-align:center;
}
h1{
    margin-top: 15vh;
    font-family: 'Roboto', sans-serif;
}
h2{
    font-family: 'Alex Brush';
}
.hidden{
    visibility: hidden;
}
.content, footer{
    padding: 50px 10vw;
}
.content p {
    background:white;
}
iframe{
    margin: 5vh 10vw;
    width: 80vw;
    height: 50vh;
}
footer{
    background:#3989A2;
    width: 100vw;
    height: 200px;
}
/* @media screen and (max-width:640px){
    html{
        margin: 0px; padding : 0px;
    }
    body{
        background:#F4F7F6;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        margin: 0px; padding : 0px;
    }
    #menu{
        background:#1e1e1e;
        color:white;
        display: flex;
        justify-content: space-between;
    }
    #banniere{
        background : url("../img/158257091_116092520529485_2854931582697112998_o.jpg");
        background-size: cover;  
        width: 100%; height: 30vh;
    }
    #logo{
        display:flex;
        margin : 1vh;
        width: 60vh;
    }
    #logo-circle{
        background : url("../img/logo.png");
        background-size: cover;  
        width: 6vh;height: 6vh;
    }
    #logo #name{
        color: #3989A2;
        font-size: 6vh; 
        font-family: 'Montserrat', sans-serif;
        margin-left : 1vh;
        margin-top:-0.5vh;
    }
    #burger_icon svg{
        fill : white;
        margin : 1vh; margin-right: 2vh;
        width: 6vh;
    }
    h1,h2,h3,h4{
        color: #3989A2;
        font-size: 4vh; 
        font-family: 'Montserrat', sans-serif;
        text-align: center;
    }
    main{
        min-height: 250px;
    }
    main>p{
        background: white;
        border-radius: 10px;
        padding : 10px ; 
    }
    iframe{
        height: 50vh;
        width: 100%;
    }
}
@media screen and (min-width:640px){
    #burger_icon{
        visibility: hidden;
        height: 0px; width: 0px;
    }
}     */