
html,body{
    margin: 0px; padding : 0px;
    width: 100%; height: 100%;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}
html{
    overflow-x: hidden;
}
a{
    color: black;
    text-decoration: none; 
    transition: 0.4s;

}
header {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    background:#ffffffce;
    color: rgb(0, 0, 0);
    height: 200px; 
    width: 100vw;
    position: fixed;
    top:0px;
    transition: 0.4s;
    z-index: 10;
}
#menuMob{
    display: none;
}
main>*{
    background:#F4F7F6;
}
.header_small{
    height: 82px; 
    transition: 0.4s;
}
#linelink{
    display: flex;margin-right: 20px;
}
#linelink div{
    padding:20px;
    padding-top: 16px;
    transition: 0.4s;
    font-size: 22px;
}
#linelink a:hover{
    color:#3989A2;
    cursor: pointer;
    transition: 0.4s;
}
#line{
    display: flex;
    flex-wrap: wrap;
    margin-top: 14px;
    justify-content: space-between;
}
#burger{
    background:url("../img/burger.svg");
    color:white;
    margin:10px 10px;
    width: 40px;height: 40px;
}
#logo{
    display:flex;
    margin-left: -50px;
    min-width: 245px;
}
#logo-circle{
    background : url("../img/logo.png");
    background-size: cover;  
    position: absolute;
    left:120px;
    /* margin : 0px -80px; */
    transition: 0.4s;
    width: 180px;height: 180px;
    z-index: -1;
}
.circle_small{
    top:5px;
    left:50px!important;
    width: 70px!important;height: 70px!important;
    transition: 0.4s;
}
#name{
    font-size: 80px; 
    font-style: italic;
    font-weight: bolder;
    position: absolute;
    /* margin : 2px;
    margin-left: 90px;
    margin-top:60px; */
    top:70px;left:40px;
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 2px 5px #3989A2, 0 2px #3989A2;
    color: black;
    transition: 0.4s;
}
.name_small{
    position: absolute;
    top : 25px!important;
    left:100px!important;
    font-size: 40px!important; 
    transition: 0.4s;
}
#entete{
    position:  absolute;
    top : 140px;
    left:270px;
    font-size: 40px;font-family: 'Courgette', cursive;
    transition:0.4s;
    margin:0 10vw;
}
.entete_small{
    color:#3989A2;
    top : 25px!important;
    left:200px!important;
    font-size: 30px!important;
    transition:0.4s
}
@media screen and (max-width:1400px){
    .entete_small{opacity: 0;
        font-size: 0px!important;
        }
}
#back1{
    background : url("../img/166982149_1273659496362015_5992005154091167222_n.jpg");
    background-size: cover;
    padding-top: 200px;
    height: 50vh;
    width: 100vw;
    background-attachment: fixed;
    top:0px;
    z-index: -1;
}

#back1 h1, h2{
    text-align: center;
    background-color: #FFFFFF00;
    color:white;
    font-size: 70px;
    margin-top:65px;
}

h2, h3{
    font-family: 'Courgette', cursive;
}

h3{
    text-align:center;
    font-size: xx-large;
    margin-top:70px;
    color:#3989A2;
}
.hidden{
    visibility: hidden;
}
.content, footer{
    padding: 50px 10vw;
}
.line{
    display : flex;
    flex-wrap: wrap;
    width: 80vw;
    justify-content: space-around;
    margin:0px 2vh;
}
main{
    font-size: 20px;
    color:rgb(39, 37, 35);
}
.text {
    background:white;
    /* padding:2vw; */
    padding : 0 20px 20px 20px;
    font-size: 18px;
    border-radius: 15px;
    width: 35vw;
    min-width: 250px;
    min-height: 20vw;
    margin:auto;
}
.line .illu{
    background-image: url("../img/158407341_116093617196042_8859126130151640300_n.jpg");
    background-size: cover;
    width: 35vw; height: 24vw;
    border-radius: 15px;
    min-width: 250px; min-height: 200px;

    margin:auto;

}
#install{
    background : url("../img/167105004_1132543060548284_4525035078824232811_n.jpg");
    background-size: cover;
    height: 35vh;
    width: 100vw;
    margin-left:-20vw;
    background-attachment: fixed;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10vw;
}
#install>div{
    background:hsla(0, 0%, 100%, 0.8);
    border:white solid 5px;
    border-radius: 15px;
    margin:2vw;
    position: relative;
    height: 35vh;
    min-width: 250px; min-height: 200px;
    transition :0.4s;
    width: 20vw;
    z-index: 0;
}
#install>div:hover{
    transition :0.4s;
    margin-top: 1vw;
    cursor: pointer;
}
#install p{
    padding:20px;
}
.num{
    position: absolute;
    height: 20px;
    background: white;
    box-shadow: 0px 0px 10px 10px white;
    text-align: center;
    width: 9vw;
    margin: 0 5.5vw;
    bottom:10px;
    transition :0.4s;
}
#install>div:hover .num{
    color:#3989A2;
    transition :0.4s;
}
iframe{
    margin: 5vh 10vw;
    width: 80vw;
    height: 50vh;
}
footer{
    background:#3989A2;
    width: 100vw;
    height: 80px;
}
#rs{
    background:url("https://www.facebook.com/images/fb_icon_325x325.png");
    background-size: cover;
    cursor: pointer;
    width: 50px;height: 50px;
}
@media screen and (max-width:640px){
    #menuMob{
        display: block;
    }
    #line{
        visibility: hidden;
    }
    .content, footer{
        padding: 10px;
    }
    .text {
        font-size: 18px;
        border-radius: 15px;
        width: 100%;
        min-width: 250px;
        min-height: 250px;
        margin:50px auto;
    }
    #install{
        background : url("../img/167105004_1132543060548284_4525035078824232811_n.jpg");
        background-size: cover;
        height: initial;
        width: 100vw;
    }
    header{
        display: flex;
        height: 20px; 
        position: initial;
        top:0px;
        transition: 0.4s;
        z-index: 10;
    }
    #back1{
        background : url("../img/mobile1.png");
        background-size: cover;
        background-attachment: fixed;
        height: 70vh;
    }
}
/* @media screen and (max-width:640px){
    html{
        margin: 0px; padding : 0px;
    }
    body{
        background:#F4F7F6;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        margin: 0px; padding : 0px;
    }
    #menu{
        background:#1e1e1e;
        color:white;
        display: flex;
        justify-content: space-between;
    }
    #banniere{
        background : url("../img/158257091_116092520529485_2854931582697112998_o.jpg");
        background-size: cover;  
        width: 100%; height: 30vh;
    }
    #logo{
        display:flex;
        margin : 1vh;
        width: 60vh;
    }
    #logo-circle{
        background : url("../img/logo.png");
        background-size: cover;  
        width: 6vh;height: 6vh;
    }
    #logo #name{
        color: #3989A2;
        font-size: 6vh; 
        font-family: 'Montserrat', sans-serif;
        margin-left : 1vh;
        margin-top:-0.5vh;
    }
    #burger_icon svg{
        fill : white;
        margin : 1vh; margin-right: 2vh;
        width: 6vh;
    }
    h1,h2,h3,h4{
        color: #3989A2;
        font-size: 4vh; 
        font-family: 'Montserrat', sans-serif;
        text-align: center;
    }
    main{
        min-height: 250px;
    }
    main>p{
        background: white;
        border-radius: 10px;
        padding : 10px ; 
    }
    iframe{
        height: 50vh;
        width: 100%;
    }
}
@media screen and (min-width:640px){
    #burger_icon{
        visibility: hidden;
        height: 0px; width: 0px;
    }
}     */